@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';


html,
body,
#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

@theme {
    --color-primary: #111315;
    --color-green-dull: #21251F;
    --color-green: #C8F560;
    --color-primary-dull: #4E515C;
    --color-purple: #7862F8;
}

.text-stroke-orange {
    -webkit-text-stroke: 1px #F3B436;
}

.banner,
.bannerAbs {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    z-index: 1;
}

.bannerAbs {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    z-index: 2;
}

.slider {
    position: absolute;
    width: 40px;
    height: 40px;
    transform-style: preserve-3d;
    transform: perspective(200px);
    animation: autoRun 5s linear infinite forwards;
}

@keyframes autoRun {
    0% {
        transform: perspective(200px) rotateX(-16deg) rotateY(0deg) rotateZ(0deg);
    }

    34% {
        transform: perspective(200px) rotateX(-16deg) rotateY(120deg) rotateZ(0deg);
    }

    67% {
        transform: perspective(200px) rotateX(-16deg) rotateY(240deg) rotateZ(0deg);
    }

    100% {
        transform: perspective(200px) rotateX(-16deg) rotateY(360deg) rotateZ(0deg);
    }
}

.item,
.itemV {
    position: absolute !important;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(100px);
}

.itemV {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) rotate(-90deg) translateZ(105px);
}

.item,
.itemV img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}